<script setup lang="ts">
import {
  mdiTownHall,
  mdiSchool,
  mdiAccountSchool,
  mdiBook,
  mdiCardsOutline,
  mdiRecordCircle,
  mdiAsteriskCircleOutline,
  mdiFaceManProfile,
} from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="7">
        <v-table>
          <tr v-bind:style="{ 'background-color': '#34CDC8' }">
            <th>
              <v-avatar size="150">
                <v-img src="port2.png"></v-img>
              </v-avatar>
            </th>
            <th>
              <h2>
                <v-icon color="#DA3232" :icon="mdiFaceManProfile"></v-icon>
                ชื่อ : นฤบดี มากวิสุทธิ์
              </h2>
            </th>
          </tr>

          <tbody v-bind:style="{ 'background-color': '#34CDC8' }">
            <tr v-bind:style="{ 'background-color': '#f05a63' }">
              <td>
                <h2>
                  <v-icon color="#8CE2DF" :icon="mdiRecordCircle"></v-icon>
                  ประวัติการศึกษา
                </h2>
              </td>
              <td>
                <h2>
                  <v-icon
                    color="#8CE2DF"
                    :icon="mdiAsteriskCircleOutline"
                  ></v-icon>
                  สิ่งที่สนใจ
                </h2>
              </td>
            </tr>
            <tr>
              <td>
                <v-icon color="#DA3232" :icon="mdiTownHall"></v-icon>
                ระดับประถมศึกษา : โรงเรียนสฤษดิเดช
              </td>
              <td>
                <v-icon color="#DA3232" :icon="mdiBook"></v-icon>
                หนังสือ
              </td>
            </tr>
            <tr>
              <td>
                <v-icon color="#DA3232" :icon="mdiSchool"></v-icon>
                ระดับมัธยมศึกษา ตอนต้น : เบญจมราชูทิศ จันทบุรี
              </td>
              <td>
                <v-icon color="#DA3232" :icon="mdiCardsOutline"></v-icon>
                การ์ด
              </td>
            </tr>
            <tr>
              <td>
                <v-icon color="#DA3232" :icon="mdiAccountSchool"></v-icon>
                ระดับมัธยมศึกษา ตอนปลาย : เบญจมราชูทิศ จันทบุรี
              </td>
              <td></td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
